[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User={{ gunicorn_user }}
Group={{ gunicorn_group }}
RuntimeDirectory=gunicorn
WorkingDirectory={{ app_dest }}
ExecStart={{ app_dest }}/env/bin/gunicorn --pid /run/gunicorn/pid --bind {{ gunicorn_address }} app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]

WantedBy=multi-user.target
